* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    background-color: rgb(47, 47, 47);
    gap: 1rem;
}

#card {
    height: 350px;
    width: 280px;
    background: linear-gradient(170deg, rgb(54, 54, 240) 30%, rgb(217, 217, 220) 0%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
}

#card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

#card h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    font-size: 1.3rem;
}

#card h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

#work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    gap: 1rem;
}

#work button {
    padding: 0.3rem 0.9rem;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: all ease 0.5s;

    &:hover {
        background-color: black;
        color: white;
    }
}

#icons {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

#icons i {
    font-size: 1.5rem;
    transition: all ease 0.5s;

    &:hover {
        scale: 1.4;
    }
}